<ion-header>
    <ion-toolbar>
      <ion-buttons>
        <ion-button color="tertiary" (click)="back()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title color="tertiary" class="lbl-head-title">Notification</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="page-notification">

  <!-- <ion-card class="empty-card">
    <img src="../../assets/img/bell.png" class="img-bell"/>
    <ion-label class="lbl-title">Not Have Notification</ion-label>
  </ion-card> -->

  <ion-row class="row-items">
    <ion-col size="2" class="col-items">
      <img src="../../assets/img/home.jpg" class="img-items"/>
    </ion-col>
    <ion-col size="10" class="col-items">
      <ion-label class="lbl-lines">
        <h3 class="lbl-head">NR ECommerce</h3>
        <p class="lbl-desc">Thanks for downloaded NReCom app</p>
      </ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="row-items">
    <ion-col size="2" class="col-items">
      <img src="../../assets/img/home.jpg" class="img-items"/>
    </ion-col>
    <ion-col size="10" class="col-items">
      <ion-label class="lbl-lines">
        <h3 class="lbl-head">NR ECommerce</h3>
        <p class="lbl-desc">Thanks for downloaded NReCom app</p>
      </ion-label>
    </ion-col>
  </ion-row>

</ion-content>
