<ion-content padding class="page-landing">

  <ion-item lines="none" class="item-logo">
    <ion-icon name="basket" color="tertiary" class="icon-logo"></ion-icon>
    <ion-label color="tertiary" class="lbl-head">NR ECom</ion-label>
  </ion-item>

  <ion-label color="tertiary" class="lbl-line"></ion-label>
  <ion-label color="tertiary" class="lbl-desc">Get Best Product in NR ECom</ion-label>

  <div class="div-fixed">
    <ion-button fill="outline" shape="round" expand="full" color="tertiary" class="btn-signup" routerLink="/signup">SIGN
      UP</ion-button>
    <ion-button fill="outline" shape="round" expand="full" color="tertiary" class="btn-signin" routerLink="/signin">SIGN
      IN</ion-button>
  </div>

</ion-content>