<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button color="tertiary" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="tertiary" class="lbl-head-title">About Application</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-about">

  <ion-row class="row-items">
    <ion-col size="2" class="col-items">
      <img src="../../assets/img/home.jpg" class="img-items" />
    </ion-col>
    <ion-col size="10" class="col-items">
      <ion-label class="lbl-lines">
        <h3 class="lbl-head">NR ECommerce</h3>
        <p class="lbl-desc">UI KIT e-commerce</p>
      </ion-label>
    </ion-col>
  </ion-row>

  <ion-card class="card-about">
    <ion-label class="lbl-txt">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </ion-label>
    <ion-label class="lbl-txt">
        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </ion-label>
  </ion-card>

</ion-content>