<ion-header>
    <ion-toolbar>
      <ion-buttons>
        <ion-button color="tertiary" (click)="back()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title color="tertiary" class="lbl-head-title">Message</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

  <ion-card class="empty-card">
    <img src="../../assets/img/msg.png" class="msg-img"/>
    <ion-label class="lbl-title">Not Message Yet</ion-label>
  </ion-card>

</ion-content>
