<ion-content padding class="page-signup">

    <ion-item lines="none" class="item-logo">
      <ion-icon name="basket" color="tertiary" class="icon-logo"></ion-icon>
      <ion-label color="tertiary" class="lbl-head">NR ECom</ion-label>
    </ion-item>
    
    <ion-item lines="none" class="item-input">
      <ion-label position="stacked" class="input-lbl">Full name</ion-label>
      <ion-input type="text" class="input-box"></ion-input>
    </ion-item>
    
    <ion-item lines="none" class="item-input">
      <ion-label position="stacked" class="input-lbl">Email address</ion-label>
      <ion-input type="email" class="input-box"></ion-input>
    </ion-item>
    
    <ion-item lines="none" class="item-input">
      <ion-label position="stacked" class="input-lbl">Password</ion-label>
      <ion-input type="password" class="input-box"></ion-input>
    </ion-item>
    
    <ion-item lines="none" class="item-input">
      <ion-label position="stacked" class="input-lbl">Confirm Password</ion-label>
      <ion-input type="password" class="input-box"></ion-input>
    </ion-item>
    
    <div class="btns-bottom">
    
      <ion-label class="lbl-signup">Already have an account? <ion-text color="tertiary" routerLink="/signin"> Sign in.
        </ion-text>
      </ion-label>
    
      <ion-button expand="full" shape="round" color="tertiary" class="btn-signin">SIGN UP</ion-button>
    
    </div>

</ion-content>
