<ion-header>
    <ion-toolbar>
      <ion-buttons>
        <ion-button color="tertiary" (click)="back()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title color="tertiary" class="lbl-head-title">Payment</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content no-padding>

  <ion-label class="lbl-head">Choose your payment method</ion-label>

  <ion-radio-group>
  <ion-item lines="none" class="items">
    <ion-label>Credit / Debit Card</ion-label>
    <ion-radio slot="start" mode="md" class="btn-radio"></ion-radio>
    <img src="../../assets/img/card.png" class="img-pay-method"/>
  </ion-item>
  <ion-item lines="none" class="items">
    <ion-label>Cash On Delivery</ion-label>
    <ion-radio slot="start" mode="md" class="btn-radio"></ion-radio>
    <img src="../../assets/img/cod.jpg" class="img-pay-method"/>
  </ion-item>
  <ion-item lines="none" class="items">
    <ion-label>Paypal</ion-label>
    <ion-radio slot="start" mode="md" class="btn-radio"></ion-radio>
    <img src="../../assets/img/paypal.png" class="img-pay-method"/>
  </ion-item>
  <ion-item lines="none" class="items">
    <ion-label>Google Wallet</ion-label>
    <ion-radio slot="start" mode="md" class="btn-radio"></ion-radio>
    <img src="../../assets/img/wallet.jpg" class="img-pay-method"/>
  </ion-item>
  </ion-radio-group>

  <ion-button shape="round" expand="full" color="tertiary" class="btn" (click)="Success()">Pay</ion-button>

</ion-content>
