<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button color="tertiary" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="tertiary" class="lbl-head-title">Flash Sale</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="card-sale">
    <img src="../../assets/img/home.jpg" class="img-sale" />
  </ion-card>

  <ion-label class="lbl-sale"><b>End in </b>23 : 59 : 55</ion-label>

  <ion-row class="sale-row">
    <ion-col class="sale-col">
      <ion-card class="sale-card">
        <img src="../../assets/img/home.jpg" class="sale-img" />
        <div class="div-sale-desc">
          <ion-label class="lbl-sale-title">Apple Macbook Pro with Touch Bar</ion-label>
          <ion-label class="lbl-sale-old">$ 2,000</ion-label>
          <ion-label class="lbl-sale-new" color="tertiary">$ 1,300</ion-label>
          <ion-label class="lbl-sale-rating">
            <ion-icon name="star" class="icon-rating"></ion-icon>(56)
          </ion-label>
          <ion-label class="lbl-sale-location">
            <ion-icon name="pin"></ion-icon>Ahmedabad
          </ion-label>
          <ion-label class="lbl-sale-stock">9 Available</ion-label>
        </div>
      </ion-card>
    </ion-col>
    <ion-col class="sale-col">
      <ion-card class="sale-card">
        <img src="../../assets/img/home.jpg" class="sale-img" />
        <div class="div-sale-desc">
          <ion-label class="lbl-sale-title">Apple Macbook Pro with Touch Bar</ion-label>
          <ion-label class="lbl-sale-old">$ 2,000</ion-label>
          <ion-label class="lbl-sale-new" color="tertiary">$ 1,300</ion-label>
          <ion-label class="lbl-sale-rating">
            <ion-icon name="star" class="icon-rating"></ion-icon>(56)
          </ion-label>
          <ion-label class="lbl-sale-location">
            <ion-icon name="pin"></ion-icon>Ahmedabad
          </ion-label>
          <ion-label class="lbl-sale-stock">9 Available</ion-label>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row class="sale-row">
    <ion-col class="sale-col">
      <ion-card class="sale-card">
        <img src="../../assets/img/home.jpg" class="sale-img" />
        <div class="div-sale-desc">
          <ion-label class="lbl-sale-title">Apple Macbook Pro with Touch Bar</ion-label>
          <ion-label class="lbl-sale-old">$ 2,000</ion-label>
          <ion-label class="lbl-sale-new" color="tertiary">$ 1,300</ion-label>
          <ion-label class="lbl-sale-rating">
            <ion-icon name="star" class="icon-rating"></ion-icon>(56)
          </ion-label>
          <ion-label class="lbl-sale-location">
            <ion-icon name="pin"></ion-icon>Ahmedabad
          </ion-label>
          <ion-label class="lbl-sale-stock">9 Available</ion-label>
        </div>
      </ion-card>
    </ion-col>
    <ion-col class="sale-col">
      <ion-card class="sale-card">
        <img src="../../assets/img/home.jpg" class="sale-img" />
        <div class="div-sale-desc">
          <ion-label class="lbl-sale-title">Apple Macbook Pro with Touch Bar</ion-label>
          <ion-label class="lbl-sale-old">$ 2,000</ion-label>
          <ion-label class="lbl-sale-new" color="tertiary">$ 1,300</ion-label>
          <ion-label class="lbl-sale-rating">
            <ion-icon name="star" class="icon-rating"></ion-icon>(56)
          </ion-label>
          <ion-label class="lbl-sale-location">
            <ion-icon name="pin"></ion-icon>Ahmedabad
          </ion-label>
          <ion-label class="lbl-sale-stock">9 Available</ion-label>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>