<ion-content padding class="page-forgot">

  <ion-item lines="none" class="item-logo">
    <ion-icon name="basket" color="tertiary" class="icon-logo"></ion-icon>
    <ion-label color="tertiary" class="lbl-head">NR ECom</ion-label>
  </ion-item>

  <ion-label class="heading">
    Enter your register email address. We'll send you an email to reset your password.
  </ion-label>

  <ion-item lines="none">
    <ion-label position="stacked" class="input-lbl">Email address</ion-label>
    <ion-input type="text" class="input-box"></ion-input>
  </ion-item>

  <div class="btns-bottom">
  <ion-label color="tertiary" class="lbl-signup" routerLink="/signin">Back to SIGN IN</ion-label>

  <ion-button expand="full" shape="round" color="tertiary" class="btn-forgot">SUBMIT</ion-button>
  </div>

</ion-content>