<ion-header>
  <ion-toolbar>
    <ion-title color="tertiary" class="lbl-head-title">Category Brand</ion-title>
    <ion-buttons slot="end">
      <ion-button color="tertiary" routerLink="/search">
        <ion-icon name="search" size="large" mode="md"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="card-cat" routerLink="/product">
    <img src="../../assets/img/home.jpg" class="img-cat" />
    <ion-label class="lbl-txt">Category Title</ion-label>
  </ion-card>
  <ion-card class="card-cat">
    <img src="../../assets/img/home.jpg" class="img-cat" />
    <ion-label class="lbl-txt">Category Title</ion-label>
  </ion-card>
  <ion-card class="card-cat">
    <img src="../../assets/img/home.jpg" class="img-cat" />
    <ion-label class="lbl-txt">Category Title</ion-label>
  </ion-card>
  <ion-card class="card-cat">
    <img src="../../assets/img/home.jpg" class="img-cat" />
    <ion-label class="lbl-txt">Category Title</ion-label>
  </ion-card>
  <ion-card class="card-cat">
    <img src="../../assets/img/home.jpg" class="img-cat" />
    <ion-label class="lbl-txt">Category Title</ion-label>
  </ion-card>
  <ion-card class="card-cat">
    <img src="../../assets/img/home.jpg" class="img-cat" />
    <ion-label class="lbl-txt">Category Title</ion-label>
  </ion-card>

</ion-content>
