.lbl-head{
    font-weight: bold;
    font-size: 28px;
    color: grey;
    display: block;
    padding: 24px 16px 24px 16px;
}
.search{
    --background: #fff;
    //padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}
.lbl-divider{
    color: #ccc;
    font-size: 16px;
    padding: 16px 0px 16px 16px;
    display: block;
}
.extra-spc{
    padding-top: 11px;
}
.slides{
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 5px;
  
    .slide{
      width: auto;

      ion-chip{
          background: #fff;
          box-shadow: 0px 0px 4px 4px #f1f1f1;
          padding-left: 16px;
          padding-right: 16px;
      }
    }
}

.slidesProd{
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 10px;
  
    .slideProd{
      height: 210px;
      width: 150px;

      .card-prod{
          margin: 0px;
          border-radius: 5px;
          box-shadow: 0px 0px 4px 0px #ddd;
          height: 210px;

        .img-cardProd{
            height: 135px;
            width: 150px;
            object-fit: cover;
          }
          .lbl-title{
            display: block;
            color: grey;
            font-size: 14px;
            padding: 2px 10px;
            text-align: left;
          }
          .lbl-price{
            display: block;
            font-size: 13px;
            font-weight: bold;
            color: #000;
            padding: 2px 10px;
            text-align: left;
          }
          .lbl-rating{
            display: block;
            color: #ccc;
            font-size: 12px;
            padding: 2px 10px;
            text-align: left;
            font-weight: bold;

            ion-icon{
                color: orange;
            }
          }
      }
    }
  }